<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>
        <div class="panel">
            <h1>Chat</h1>
            <p>App for make the chatting</p>
            <div class="messages-container">

            </div>
            <div class="messages-form">
                <form>
                    <textarea name="text"></textarea>
                    <button type="submit">send</button>
                </form>
            </div>
        </div>
    </body>
</html>
