<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/app.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    </head>

    <body>
        <div class="panel">
            <h1>Chat</h1>
            <p>App for make the chatting</p>
            <div class="messages-container">

            </div>
            <div class="messages-form-container">
                <form action="" id="messages-form">
                    <textarea name="text" id="text"></textarea>
                    <button>send</button>
                </form>
            </div>
        </div>

        <script>
            var socket = io('/threads');
            $('form').submit(function (event) {
              console.log($('#text').val());
              socket.emit('message', {
                text: $('#text').val(),
                user: '5873fbd96f9c3f09bfaab746',
                thread: '587a88487443150e34a820f5',
              });
              $('#text').val('');
              event.preventDefault();
            });

            socket.emit('subscribe', '587a88487443150e34a820f5');

            socket.on('message', function (data) {
              console.log(data);
              $('.messages-container').append('<p>' + data.text + '</p>');
            });
        </script>
    </body>
</html>
