<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>
        <div class="panel">
            <h1>Register</h1>
            <p>Enter your login details below</p>
            <form method="post" action="/register">
              <label>username:<input type="text" name="username"></label>
              <label>password:<input type="password" name="password"></label>
              <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
